.questionBox {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.ques {
    font-size: 30px;
    display: block;
}

.ans {
    font-size: 25px;
    margin-right: 50px;
}

input[type = "radio"] {
    margin: 20px 10px;
    height: 20px;
    width: 20px;
}

input[type = "submit"] {
    width: 200px;
    margin: 0 auto;
    background: #000;
    border: 1px solid white;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}